.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.btn-custom {     
    background-color: #FEEA00;     
    color: #1E3A8A;     
    border: 0px solid #1E3A8A; 
    font-size: 20px; /* Ajusta el tamaño del texto según el tamaño deseado */   
    font-weight: bold; 
    padding: 0.5rem 3rem; /* Ajusta el padding según el tamaño deseado */
    border-radius: 10px; /* Ajusta el valor según el grado de redondez deseado */
    box-shadow: 5px 5px 10px 0 #1e3b8a86; /* Sombra sutil en azul */
}   

.btn-custom:hover {
    background-color: #e2d21b;
}

.form-outline,
.form-control {
    box-shadow: 0px 5px 10px 0 #1e3b8a1f;
}